


{% block content %}
<form action="#" method="post" >
    <p>Brewery Name:</p>
    <p><input type="brewery_name" name="brewery_name"></p>
    <p>Beer Name:</p>
    <p><input type="beer_name" name="beer_name"></p>
    <p>abv:</p>
    <p><input type="abv" name="abv"></p>
    <p>Keg Line (1 or 2):</p>
    <p><input type="keg_line" name="keg_line"></p>
    <p>Keg Size in Gallons:</p>
    <p><input type="keg_size" name="keg_size"></p>
    <p><input type="submit" value="submit"></p>
    <p><input type="submit" value="cancel"></p>
</form>  

<p>hallo???</p>
{% endblock%}